/*===== VARIABLES =====*/

:root {
  --primary-color:#001524;
  --secundary-color:#ff7d00;
  --title-color:#07031a;
  --text-color:#03071e;
  --white-color:#fbfefb;
}

/*===== GOOGLE FONTS =====*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


/*========== STYLE BASES ==========*/


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 400;
}

h1,h2,h3,
h4,h5,h6 {
  text-align: center;
  font-weight: 600;
  color: var(--title-color);
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.6rem;
}

button {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
  font-weight: 400;
  font-size: 2rem;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*========== STYLE HEAD ==========*/

.module-head {
  background-color: var(--primary-color);
  box-shadow: inset 0 -4px rgba(0,0,0,.1);
}

.head__container {
  max-width: 1200px;
  margin: 0 auto;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head__logo {
  padding-left: 20px;
}

.head__logo span {
  color: var(--white-color);
  text-transform: uppercase;
}

.head__menu {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  height: 400px;
  background-color: var(--secundary-color);
  display: none;
  z-index: 1;
}

.show {
  display: initial;
}

.head__menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}


.head__menu__list--item {
  font-size: 2rem;
  cursor: pointer;
}

.head__menu__list--item .head__menu__list--item--link {
  position: relative;
}

.head__menu__list--item .head__menu__list--item--link::before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 4px;
  background-image: linear-gradient(to right, #EADFDF  0%, #ECE2DF  100%);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}

.head__menu__list--item .head__menu__list--item--link:hover::before {
  transform: scaleX(1);
}

.head__button {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  z-index: 2;
  padding-right: 20px;
}

.head__button__burger {
  position: absolute;
  width: 33px;
  height: 24px;
  margin-left: -17px;
  margin-top: -12px;
}

.head__button__burger--line {
  position: absolute;
  left: 0;
  background-color: var(--white-color);
  height: 3px;
  width: 100%;
  border-radius: 3px;
  pointer-events: none;
}

.head__button__burger--line--1 {
  top: 0;
}

.head__button__burger--line--2 {
  top: 0;
  bottom: 0;
  margin: auto;
}

.head__button__burger--line--3 {
  bottom: -1px;
}

/*========== STYLE SECTION COVER ==========*/

.cover__container,
.today__container,
.about__container,
.footer__container,
.delivery-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.cover__hero,
.cover__background,
.today__main,
.today__main__container,
.about__cover,
.about__details,
.footer__content,
.delivery-cover,
.delivery-menu {
  padding: 0 20px ;
}

 .cover__container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding-top: 50px;
}

.cover__hero {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.cover__hero__btn,
.about__btn {
  height: 40px;
  width: 200px;
  border-style: none;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: var(--secundary-color);
  transition: all .5s ease-in-out;
}

.cover__hero__btn:hover,
.about__btn:hover {
   transform: scale(1.1);
   background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);

}

/*========== STYLE SECTION MENU DEL DIA ==========*/

.today__main {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.today__main__container {
  display: grid;
  grid-template-columns: repeat(auto-fill,250px);
  justify-content: center;
  grid-gap: 20px;
}

.today__content {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}


.today__img {
  height: 200px;
}

.today__img img {
object-fit: contain;}

.today__details {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 15px;
}


/*========== STYLE SECTION ABOUT ==========*/

.about__container {
  display: flex;
  flex-direction: column;
}

.about__cover {
  height: 350px;
  background-image: url(../img/chef.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.about__details {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


/*========== STYLE SECTION FOOTER ==========*/

.sectio__footer {
  background-color: var(--primary-color);
}

.footer__content {
  color: var(--white-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 20px;
  padding-top: 20px;
}

.footer__social,
.footer__dir {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}


.footer__social--link i{
  font-size: 3.5rem;
  color: var(--white-color);
  margin-right: 20px;
}

.footer__info__list li {
  margin-bottom: 15px;
}

.footer__title {
  padding: 20px 0;
  color: var(--white-color);
}

/*========== STYLE SECTION DELIVERY ==========*/

.delivery-cover {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.delivery-cover__details {
  height: 300px;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
}

.delivery-cover__img img,
.delivery-moto__img img {
  object-fit: initial;
}

.delivery-moto {
  background-image: url(../img/city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-top: 30px;
}

.delivery-moto__img {
  height: 400px;
  position: relative;
  overflow: hidden;
}

.delivery-moto__img img {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: moto 4s linear infinite;
}

@keyframes moto {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}

.delivery-menu {
  position: relative;
}

.delivery-menu__category {
  background-color: var(--white-color);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.delivery-menu__category__list {
  display: flex;
  overflow-x: auto;
  align-items: center;
  height: 50px;
}

.delivery-menu__category__title {
  display: none;
}

.delivery-menu__category__list--items {
  width: auto;
  height: auto;
  flex-shrink: 0;
  margin-left: 15px;
  border-radius: 8px;
  text-align: center;
  padding: 6px;
  background-color: var(--secundary-color);
}

.delivery-menu__list__details {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.delivery-menu__list__container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-gap: 10px;
}

.delivery-menu__list__container--content {
  display: flex;
  box-shadow: inset 0 -2px rgba(0,0,0,.1);
  padding-bottom: 10px;
}

.delivery-menu__list__container--content--img {
  height: 120px;
  width: 120px;
}

.delivery-menu__list__container--content--img img {
  border-radius: 20px;
}

.delivery-menu__list__container--content--details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.delivery-menu__list__container--details--a {
  display: flex;
  justify-content: space-around;
}

.delivery-menu__list__container--content--btn {
  border-radius: 22px;
  background-color: var(--secundary-color);
  color: var(--white-color);
  text-transform: uppercase;
  width: 100px;
  border-style: none;
  cursor: pointer;
}

.icofont-star {
  font-size: 1.5rem;
  color: var(--secundary-color);
  margin: 0 3px;
}

.delivery-menu__list__container--content--input {
  width: 60px;
}

#pizza {
  display: none;
}
/* ==== MEDIA QUERIES ==== */

@media only screen and (min-width : 500px) {
  /*========== STYLE SECTION ABOUT ==========*/

  .about__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media only screen and (min-width : 600px) {
/*========== STYLE SECTION COVER ==========*/

  .cover__container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

@media only screen and (min-width : 640px) {
  /*========== STYLE HEAD ==========*/

  .head__container {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .head__button {
    display: none;
  }

  .head__menu {
    position: initial;
    height: 100%;
    background-color: transparent;
    display: initial;
  }

  .head__menu__list {
    flex-direction: row;
  }

  .head__menu__list--item {
    font-size: inherit;
  }

  .head__menu__list--item .head__menu__list--item--link::before {
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
  }
}

@media only screen and (min-width : 800px) {
  /*========== STYLE SECTION DELIVERY ==========*/
  .delivery-cover {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

@media only screen and (min-width : 900px) {
   /*========== STYLE HEAD ==========*/
  .head__menu {
    width: 70%;
    justify-self: end;
  }

/*========== STYLE SECTION ABOUT ==========*/
  .about__container {
    padding-top: 50px;
  }
  .about__cover {
    background-size: 450px;
    background-position-y: -30px;
  }
}

@media only screen and (min-width : 960px) {
  /*========== STYLE SECTION DELIVERY ==========*/
  .delivery-menu__category__list--items {
    margin: 10px 0;
  }

  .delivery-menu__category {
    position: initial;
  }

  .delivery-menu__category__title {
    display: initial;
    align-self: center;
  }

  .delivery-menu {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  }

  .delivery-menu__category__list {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: stretch;
  flex-direction: column;
  height: 600px;
  }

  .delivery-menu__list {
  display: flex;
  flex-direction: column;
  }
}