/*===== VARIABLES =====*/

:root {
  --primary-color:#001524;
  --secundary-color:#ff7d00;
  --title-color:#07031a;
  --text-color:#03071e;
  --white-color:#fbfefb;
}

/*===== GOOGLE FONTS =====*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


/*========== STYLE BASES ==========*/


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 400;
}

h1,h2,h3,
h4,h5,h6,
span {
  text-align: center;
  font-weight: 600;
  color: var(--title-color);
}

button {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
  font-weight: 400;
  font-size: 1.8rem;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*========== STYLE HEAD ==========*/

.module-head {
  background-color: var(--primary-color);
  box-shadow: inset 0 -4px rgba(0,0,0,.1);
}

.head__container {
  max-width: 1200px;
  margin: 0 auto;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head__logo {
  padding-left: 20px;
}

.head__logo span {
  color: var(--white-color);
  text-transform: uppercase;
}

.head__menu {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  height: 400px;
  background-color: var(--secundary-color);
  display: none;
  z-index: 1;
}

.show {
  display: initial;
}

.head__menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.head__menu__list--item {
  font-size: 2rem;
  cursor: pointer;
}

.head__menu__list--item .head__menu__list--item--link {
  position: relative;
}

.head__menu__list--item .head__menu__list--item--link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}

.head__menu__list--item .head__menu__list--item--link:hover::before {
  transform: scaleX(1);
}

.head__button {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  z-index: 2;
  padding-right: 20px;
}

.head__button__burger {
  position: absolute;
  width: 33px;
  height: 24px;
  margin-left: -17px;
  margin-top: -12px;
}

.head__button__burger--line {
  position: absolute;
  left: 0;
  background-color: var(--white-color);
  height: 3px;
  width: 100%;
  border-radius: 3px;
  pointer-events: none;
}

.head__button__burger--line--1 {
  top: 0;
}

.head__button__burger--line--2 {
  top: 0;
  bottom: 0;
  margin: auto;
}

.head__button__burger--line--3 {
  bottom: -1px;
}

/*========== STYLE SECTION COVER ==========*/

.cover__container,
.today__container,
.about__container,
.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.cover__hero,
.cover__background,
.today__main,
.today__main__container,
.about__cover,
.about__details,
.footer__content {
  padding: 0 20px ;
}

 .cover__container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding-top: 50px;
}

.cover__hero {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cover__hero__btn,
.about__btn {
  height: 40px;
  width: 200px;
  border-style: none;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: var(--secundary-color);
}

.cover__background {
  padding-top: 20px;
}

/*========== STYLE SECTION MENU DEL DIA ==========*/

.today__main {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.today__main__container {
  display: grid;
  grid-template-columns: repeat(auto-fill,250px);
  justify-content: center;
  grid-gap: 20px;
}

.today__content {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.today__img {
  height: 200px;
}

.today__img img {
object-fit: contain;}

.today__details {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 15px;
}

/*========== STYLE SECTION ABOUT ==========*/

.about__container {
  display: flex;
  flex-direction: column;
}

.about__cover {
  height: 350px;
  background-image: url(../img/chef.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.about__details {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/*========== STYLE SECTION FOOTER ==========*/

.sectio__footer {
  background-color: var(--primary-color);
}

.footer__content {
  color: var(--white-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 20px;
  padding-top: 20px;
}

.footer__social,
.footer__dir {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

.footer__social--link i{
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
  margin-right: 20px;
}

.footer__info__list li {
  margin-bottom: 15px;
}

.footer__title {
  padding: 20px 0;
}

/* ==== MEDIA QUERIES ==== */

@media only screen and (min-width : 500px) {
  /*========== STYLE SECTION ABOUT ==========*/

  .about__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media only screen and (min-width : 600px) {
/*========== STYLE SECTION COVER ==========*/

  .cover__container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

@media only screen and (min-width : 640px) {
  /*========== STYLE HEAD ==========*/

  .head__container {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .head__button {
    display: none;
  }

  .head__menu {
    position: initial;
    height: 100%;
    background-color: transparent;
    display: initial;
  }

  .head__menu__list {
    flex-direction: row;
  }

  .head__menu__list--item {
    font-size: inherit;
  }
}

@media only screen and (min-width : 768px) {

}

@media only screen and (min-width : 900px) {
   /*========== STYLE HEAD ==========*/
  .head__menu {
    width: 70%;
    justify-self: end;
  }

/*========== STYLE SECTION ABOUT ==========*/
  .about__container {
    padding-top: 50px;
  }
  .about__cover {
    background-size: 450px;
    background-position-y: -30px;
  }
}

@media only screen and (min-width : 1200px) {

}